<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/login" method="post">
  <label>First name:</label><input type="text" name="firstName">
    <label>Last name:</label><input type="text" name="lastName">
    <label>Email:</label><input type="text" name="email">
    <label>Password:</label><input type="text" name="password">
    <label>Age:</label><input type="number" name="age">
    <label>City:</label><input type="text" name="city">
    <button type="submit">OK</button>
</form>
</body>
</html>