<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome title</title>
    <style>
        .footer{
            background-color: #41a772;
        }
    </style>
</head>
<body>
<h1>Welcome {{userName}}</h1>
<p>Hello with login</p>
<div class="footer"><p>MyCorp - Copyright © 2022 <a href={{frontendUrl}}>CLICK HERE</a></p></div>
</body>
<html>