<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot Password</title>
    <style>
        .footer{
            background-color: #41a772;
        }
    </style>
</head>
<body>
<h1>Welcome Forgot Password {{userName}}</h1>
<p>Dont worry update your password</p>
<p>{{token}}</p>
<div><a href="{{frontendUrl}}+token={{token}}">UPDATE PASS</a></div>
</body>
<html>